<div class="col-12 col-md-4">
  <div class="title card">
    <div class="card-header">
      <a href="{{post_url}}" target="_blank">{{title}}</a>
      <span class="float-right">({{ format_url post_url }})</span>
    </div>
  </div>
  <div class="meta">
    Posted by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{ format_plural "comment" comments.length }}</a>
  </div>
</div>
