<div class="col-12 col-md-12">
  <div class="title card">
    <div class="card-header">
      <a href="/post/{{id}}">{{title}}</a>
      <span class="float-end">Posted by <span class="fw-bold">{{user.username}}</span> on {{format_date created_at}}</span>
    </div>
    <div class="card-body">
      <p class="card-text">{{post_body}}</p>
    </div>
    <div class="meta card-footer">
      <a href="/post/{{id}}">{{comments.length}} {{ format_plural "comment" comments.length }}</a>
    </div>
  </div>
</div>
